---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Terms of Service</h1>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo amet quam ipsum quibusdam ea officiis laudantium, aut consequuntur soluta ratione sapiente temporibus ex quasi ducimus quaerat dicta, maiores rerum animi.</p>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo amet quam ipsum quibusdam ea officiis laudantium, aut consequuntur soluta ratione sapiente temporibus ex quasi ducimus quaerat dicta, maiores rerum animi.</p>

			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo amet quam ipsum quibusdam ea officiis laudantium, aut consequuntur soluta ratione sapiente temporibus ex quasi ducimus quaerat dicta, maiores rerum animi.</p>

			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo amet quam ipsum quibusdam ea officiis laudantium, aut consequuntur soluta ratione sapiente temporibus ex quasi ducimus quaerat dicta, maiores rerum animi.</p>

			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo amet quam ipsum quibusdam ea officiis laudantium, aut consequuntur soluta ratione sapiente temporibus ex quasi ducimus quaerat dicta, maiores rerum animi.</p>

			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo amet quam ipsum quibusdam ea officiis laudantium, aut consequuntur soluta ratione sapiente temporibus ex quasi ducimus quaerat dicta, maiores rerum animi.</p>

			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo amet quam ipsum quibusdam ea officiis laudantium, aut consequuntur soluta ratione sapiente temporibus ex quasi ducimus quaerat dicta, maiores rerum animi.</p>

			
		</main>
		<Footer />
	</body>
</html>
