---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Terms of Service</h1>
			<p>
				payment info

payment upfront via PayPal
fee might be added for complexity
commercial use will have an added on fee, usually discussed in the moment

general info

i can provide WIPs or sketches if requested! im overall very friendly, so im sorry if i come off unprofessional!
turnaround time 1 week-3 months
do not request a deadline and put pressure on me to work, i want to provide my work in high quality
commissions are non refundable unless i can't do the commission (ex: after turnaround period) or an emergency from client
dm to discuss commerical use of a commission and to ask what i can't or can do
if you do not want your commission to be posted or streamed on my twitch, please notify me before
an extra character is 75% of original price!

DO'S

ocs
fanart
game characters
kemonomimi
anthros

DON'TS

elderly characters
NSFW (yet)
facial hair
anything i am uncomfortable drawing
written out descriptions of ocs (depends)
			</p>
		</main>
		<Footer />
	</body>
</html>
