---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="mae portfolio"
	description="Get to know me a bit better :)"
	pubDate={new Date('January 31 2024')}
	heroImage="/mae-banner.jpg"
>
	<p>
		Hello, my name is <b>mae</b>. I am chinese american and can speak and write a bit of 中文. I'm a self taught artist wanting to keep making art for as long as I can!
	</p>

	<p>
		I started getting into working on my art seriously in <b>2020/2021</b>. Before I just drew chibis and made adopts on <span class="link-with-svg">
			 <a href="https://www.deviantart.com/"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M6 6h6l2-4h4v4l-3.5 7H18v5h-6l-2 4H6v-4l3.5-7H6z"/></svg> <span class="text-inside-anchor">DevianArt</span></a></span>. Honestly, I consider calling myself a beginner because even though I've drawn from such a young age I never took the time to make artworks look "polished". I want to create art that will inspire people, <b>thank you!</b>
	</p>

	<img src="/about-me.gif" alt="">
</Layout>

<style>
	.link-with-svg svg {
		position: relative;
		top: 5px;
		width: 24px;
		height: 24px;
		color: hsl(161 100% 45%);
	}

	.link-with-svg a {
		color: hsl(161 100% 35%);
		text-decoration: none;
	}

	.link-with-svg a:hover {
		color: hsl(161 100% 35%);
		opacity: .75;
	}

	.link-with-svg a:hover .text-inside-anchor {
		text-decoration: underline;
	}

	img {
		display: block;
		width: 200px;
		height: auto;
		margin-inline: auto;
	}
</style>