---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
    />
    <style>
      .thumbnail {
        --shadow-size: 2px;
        --shadow-color: hsl(0 0% 8% / .3);
        width: 200px;
        height: 200px;
        object-fit: contain;
        object-position: top center;
        border: 1px solid hsl(0 0% 0% / .1);
        cursor: pointer;
        box-shadow: var(--shadow-size) var(--shadow-size) 5px var(--shadow-color);
      }

      .thumbnail:is(:hover) {
        --shadow-size: 6px;
        --shadow-color: hsl(220 90% 40% / .2);
        opacity: .8;
        scale: 1.01;
        transition: all 100ms linear;
      }
      .featured {
        width: 100%;
      }
      h2 {
        margin-block-start: 2rem;
      }
      .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-items: center;
        gap: 1rem;
      }
      dialog {
        border: none;
      }
      dialog::backdrop {
        background: hsl(0 0% 8% / .7);
      }
    </style></head
  >

  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Featured</h1>
      <img
        id="featuredImg"
        class="featured"
        src="https://pbs.twimg.com/media/GDrcxR3XUAAq41p?format=jpg&name=large"
        alt=""
      />

      <h2>Illustrations</h2>
      <div class="grid">
        <!-- Repeat this for each thumbnail image -->
        <img
        src="https://pbs.twimg.com/media/GDrcxR3XUAAq41p?format=jpg&name=large"
          alt=""
          class="thumbnail"
        />
        <img
        src="https://pbs.twimg.com/media/GDrcxR3XUAAq41p?format=jpg&name=large"
          alt=""
          class="thumbnail"
        />
        <img
        src="https://pbs.twimg.com/media/GDrcxR3XUAAq41p?format=jpg&name=large"
          alt=""
          class="thumbnail"
        />
        <img
        src="https://pbs.twimg.com/media/GDrcxR3XUAAq41p?format=jpg&name=large"
          alt=""
          class="thumbnail"
        />
        <img
        src="https://pbs.twimg.com/media/GDrcxR3XUAAq41p?format=jpg&name=large"
          alt=""
          class="thumbnail"
        />
        <img
        src="https://pbs.twimg.com/media/GDrcxR3XUAAq41p?format=jpg&name=large"
          alt=""
          class="thumbnail"
        />
        <img
        src="https://pbs.twimg.com/media/GDrcxR3XUAAq41p?format=jpg&name=large"
          alt=""
          class="thumbnail"
        />
        <img
        src="https://pbs.twimg.com/media/GDrcxR3XUAAq41p?format=jpg&name=large"
          alt=""
          class="thumbnail"
        />

        <!-- ... -->
      </div>
    </main>
    <Footer />

    <!-- The Dialog -->
    <dialog id="myModal">
      <img
        data-modal-image
        id="img01"
      />
    </dialog>

    <script lang="js">
      // Get the dialog
      const dialog = document.querySelector("dialog");

      // Get all images and add event listeners
      const images = document.querySelectorAll("img");
      images.forEach(function (img) {
        img.addEventListener("click", function (event) {
          event.stopPropagation(); // Stop the event from bubbling up
          dialog.showModal();
          document.querySelector("[data-modal-image]").src = this.src.replace(
            "name=small",
            "name=large"
          );
        });
      });

      // Add event listener for clicking anywhere to close the dialog
      window.addEventListener("click", function () {
        if (dialog.open) {
          dialog.close();
        }
      });
    </script>
  </body>
</html>
