---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
    />
    <style>
      .thumbnail {
        --shadow-size: 2px;
        --shadow-color: hsl(0 0% 8% / .3);
        width: 200px;
        height: 200px;
        object-fit: contain;
        object-position: top center;
        border: 1px solid hsl(0 0% 0% / .1);
        cursor: pointer;
        box-shadow: var(--shadow-size) var(--shadow-size) 5px var(--shadow-color);
      }

      .thumbnail:is(:hover) {
        --shadow-size: 6px;
        --shadow-color: hsl(220 90% 40% / .2);
        opacity: .8;
        scale: 1.01;
        transition: all 100ms linear;
      }
      .featured {
        width: 100%;
      }
      h2 {
        margin-block-start: 2rem;
      }
      img {
        user-select: none;
      }
      .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-items: center;
        gap: 1rem;
      }
      dialog {
        border: none;
      }
      dialog:focus-visible{
        border: none;
      }
      dialog::backdrop {
        background: hsl(0 0% 8% / .7);
      }
    </style></head
  >

  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Featured</h1>
      <img
        id="featuredImg"
        class="featured"
        src="https://pbs.twimg.com/media/GDrcxR3XUAAq41p?format=jpg&name=large"
        alt=""
      />

      <h2>Illustrations</h2>
      <div class="grid">
        <img
        src="https://pbs.twimg.com/media/GDrcxR3XUAAq41p?format=jpg&name=large"
          alt=""
          class="thumbnail"
        />
        <img
        src="https://pbs.twimg.com/media/GDrcxR3XUAAq41p?format=jpg&name=large"
          alt=""
          class="thumbnail"
        />
        <img
        src="https://pbs.twimg.com/media/GDrcxR3XUAAq41p?format=jpg&name=large"
          alt=""
          class="thumbnail"
        />
        <img
        src="https://pbs.twimg.com/media/GDrcxR3XUAAq41p?format=jpg&name=large"
          alt=""
          class="thumbnail"
        />
        <img
        src="https://pbs.twimg.com/media/GDrcxR3XUAAq41p?format=jpg&name=large"
          alt=""
          class="thumbnail"
        />
        <img
        src="https://pbs.twimg.com/media/GDrcxR3XUAAq41p?format=jpg&name=large"
          alt=""
          class="thumbnail"
        />
        <img
        src="https://pbs.twimg.com/media/GDrcxR3XUAAq41p?format=jpg&name=large"
          alt=""
          class="thumbnail"
        />
        <img
        src="https://pbs.twimg.com/media/GDrcxR3XUAAq41p?format=jpg&name=large"
          alt=""
          class="thumbnail"
        />
        <img
        src="https://pbs.twimg.com/media/GDrcxR3XUAAq41p?format=jpg&name=large"
          alt=""
          class="thumbnail"
        />
      </div>
    </main>
    <Footer />

    <dialog id="myModal">
      <img
        data-modal-image
        id="img01"
      />
    </dialog>

    <script lang="js">
const dialog = document.querySelector("dialog");
const modalImage = document.querySelector("[data-modal-image]");

// Preload large images
const images = document.querySelectorAll("img");
images.forEach(function (img) {
  const largeImage = new Image();
  largeImage.src = img.src.replace("name=small", "name=large");
});

// Open modal on image click
images.forEach(function (img) {
  img.addEventListener("click", function (event) {
    event.stopPropagation();
    dialog.showModal();
    modalImage.src = this.src.replace("name=small", "name=large");
    // Disable pointer events on other images
    images.forEach(function (otherImg) {
      if (otherImg !== img) {
        otherImg.style.pointerEvents = "none";
      }
    });
  });
});

// Close modal on window click or touch
["click", "touchstart"].forEach(function (evt) {
  window.addEventListener(evt, function () {
    if (dialog.open) {
      dialog.close();
      // Re-enable pointer events on all images
      images.forEach(function (img) {
        img.style.pointerEvents = "";
      });
    }
  });
});


    </script>
  </body>
</html>
